/* ---------- Utilitarian typography classes ---------- */
.headline-1{
    font: 800 68px/1.06 "Nunito Sans", sans-serif;
}

.headline-2{
    font: 800 48px/1.125 "Nunito Sans", sans-serif;
}

.headline-3{
    font: 700 34px/1.148 "Nunito Sans", sans-serif;
}

.headline-4{
    font: 700 24px/1.20 "Nunito Sans", sans-serif;
}

.headline-5{
    font: 700 20px/1.25 "Nunito Sans", sans-serif;
}

.description{
    font: 400 24px/1.40 "Roboto", sans-serif;
}

.subtitle-1{
    font: 500 16px/1.44 "Roboto", sans-serif;
}

.subtitle-2{
    font: 500 14px/1.42 "Roboto", sans-serif;
}

.body-1{
    font: 400 16px/1.5 "Roboto", sans-serif;
}

.body-2{
    font: 400 14px/1.5 "Roboto", sans-serif;
}

/* ---------- Responsive typography ---------- */
@media(max-width: 992px){
    .headline-1{
        font-size: 58px;
    }

    .description{
        font-size: 20px;
    }
}

@media(max-width: 768px){
    .headline-1{
        font-size: 48px;
    }

    .headline-2{
        font-size: 42px;
    }  

    .headline-3{
        font-size: 20px;
    }

    .headline-4{
        font-size: 20px;
    }
}

@media(max-width: 576px){
    .headline-1{
        font-size: 40px;
    }

    .headline-2{
        font-size: 28px;
    }  

    .description{
        font-size: 16px;
    }
}

@media(max-width: 420px){
    .headline-1{
        font-size: 32px;
    }
}