.about{
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
}

.about-img img{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.about-content{
    display: grid;
    justify-items: start;
    gap: 32px;
}

.about-title{
    max-width: 20ch;
}

.about-text p{
    font-family: inherit;
    color: inherit;
    max-width: 55ch;
}

.about-text p:first-child{
    margin-bottom: 12px;
}

@media(max-width: 1200px){
    .about{
        padding-top: 80px;
        padding-bottom: 80px;
        gap: 80px;
    }
}

@media(max-width: 992px){
    .about{
        gap: 40px;
    }
}

@media(max-width: 900px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        order: 2;
    }
    .about-img img{
        width: 100%;
    }
}

@media(max-width: 768px){
    .about{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media(max-width: 576px){
    .about{
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 32px;
    }

    .about-content{
        gap: 24px;
    }
}
